# Python
__pycache__/
*.py[cod]
*.log


# Virtual Environment
venv/
env/


# Django
db.sqlite3
staticfiles/


# Environment Variables
.env


# Media uploads
media/


# IDE
.vscode/
.idea/


# Git
.git/